<div class='main'>

<%= image_tag(comment.user.avatar.small_thumb.url, alt: 'Avatar') if comment&.user&.avatar? %>
<p>
	<b>Комментатор:</b>
	<%= comment.commenter %>
</p>
<p class='CommentBody'>
	<%= comment.body %>
</p>

<% if user_signed_in? %>
  <%= render partial: 'common/votes', locals: { resource: comment } %>
<% end %>

<% if user_signed_in? %>
	<% if !current_user.banned? %>
		<h2>Ответить:</h2>
		<%= render partial: "comments/form", locals: { resource: comment } %>
	<% end %>
<% end %>

<% if user_signed_in? && current_user.id == comment.user_id  %>
<p>
  <%= link_to 'Destroy Comment', comment,
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>
<% end %>

<h2>Comments</h2>
<% if comment.comments.present? && comment.persisted? %>
  <%= render comment.comments %>
<% end %>
<hr/>

</div>
