<div class='main'>
<%= react_component 'A_MainPost', { post: @main_label } if @main_label.present? %>

<%= react_component 'A_Header2', { title: 'Новинки' } %>
<div class='devFlex'>
<%= react_component 'devices/A_DevicesList', { devices: @devices } %>
</div>
<%= react_component 'A_Header2', { title: 'Пора в отпуск!' } %>
<p class='pMain'>Подборка идей для дома на время вашего отсутствия</p>
<%= react_component 'A_NewsPostsList', { posts: @vacation } %>
<%= react_component 'A_Header2', { title: 'Заботимся об экологии' } %>
<p class='pMain'>Подборка идей для дома на время вашего отсутствия</p>
<%= react_component 'A_NewsPostsList', { posts: @ecology } %>
<%= react_component 'A_Header2', { title: 'Элементарно' } %>
<p class='pMain'>Подборка идей для дома на время вашего отсутствия</p>
<%= react_component 'A_NewsPostsList', { posts: @elementary } %>
</div>
# <%#= react_component 'A_IdeasPostsList', { ideas: @ideas } %>


<div class="foot">
  <div class="f">
  <p>© bblopp (2021-2025)</p>
</div>
<div class="f">
<a href="/">Истории</a>
</div>
<div class="f">
<a href="/">Идеи</a>
</div>
<div class="f">
<a href="/">Устройства</a>
</div>
<div class="f">
<a href="/">Профиль</a>
</div>
<div class="f">
<a href="/">Конфиденциальность</a>
</div>
</div>
