
<%= react_component 'A_Header2', { title: 'Новости' } %>
<%= react_component 'A_MainPost', { post: @main_label } %>
<%= react_component 'A_NewsPostsList', { posts: @posts } %>
<%= react_component 'A_Header2', { title: 'Идеи' } %>
<%= react_component 'A_TagsList', { tags: @tags } %>
<%= react_component 'A_IdeasPostsList', { ideas: @ideas } %>

<div class="foot">
  <div class="f">
  <img src="/images/logo.svg" alt="">
</div>
<div class="f">
  <p>Главная</p>
  <p>Информация</p>
  <p>Помощь</p>
  <p>Вход</p>
</div>
<div class="f">
  <p>Справка</p>
  <p>Правила</p>
  <p>Для прессы</p>
</div>
<div class="f">
  <p>info@dio.ru</p>
  <p>Россия, 119002, Москва, </p>
  <p>ул. Арбат,  д. 35</p>
</div>
</div>
