<div class='body1'>
<div class='regMain'> 
<div class='link'> <a class='backlink'href="/"><img src="/images/main.svg" alt="альтернативный текст"></a>
</div>
<div class='reg'>
<h1>Привет!</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: false, autocomplete: "email", placeholder: "Email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Пароль" %>
  </div>
<div class='labelr'>
  <% if devise_mapping.rememberable? %>
    <div class="field1">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    <a class='forgotb'href="password/new">Забыл пароль</a>
  <% end %>
</div>


<div class='btnreg'>
  <div class="actions">
    <%= f.submit "Войти" %>
  </div>
  <a class='signupb'href="sign_up">Регистрация</a>
</div>

<% end %>

</div>
</div>
</div>