<p id="notice"><%= notice %></p>
<div class="nav1">
    <p> <%= link_to "Domestech", promo_path, class: "name1" %> </p>
  <p> <%= link_to "О нас", about_path, class: "link1" %> </p>
  <p> <%= link_to "Сценарии", posts_path, class: "link1" %> </p>
  <p> <%= link_to "Устройства", posts_path, class: "link1" %></p>
  <p><%= link_to "Статьи", posts_path, class: "link1" %></p>
</div>
<div class="mainBody">
  <%= link_to "Новый пост", new_post_path, class: "btnPost" %>
  <table>
    <thead>
      <tr>
        <th class="postName">Название</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.name %></td>
          <td><%= post.title %></td>
          <td><%= image_tag(post.image.url, alt: 'Image')%></td>
          <td><%= link_to 'Show', post %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
