<div class="body1">
  <p id="notice"><%= notice %></p>
  <div class="nav1">
    <p> <%= link_to "Domestech", promo_path, class: "name1" %> </p>
    <p> <%= link_to "О нас", about_path, class: "link1" %> </p>
    <p> <%= link_to "Сценарии", posts_path, class: "link1" %> </p>
    <p> <%= link_to "Устройства", posts_path, class: "link1" %></p>
    <p><%= link_to "Статьи", posts_path, class: "link1" %></p>
  </div>
  <h1>Посты</h1>

  <table>
    <tbody class="mainBody">
      <% @posts.each do |post| %>
        <tr class="mainBody">
          <div class="image">
            <td class="img"><%= image_tag post.image.url if post.image? %></td>
          </div>
          <div class="textBody">
            <div class="tagBody">
              <td class="tag"><a><%= post.name %></a></td>
            </div>
            <td class="title"><%= post.title %></td>
            <td class="content"><%= post.content %></td>
          </div>
        </tr>
      <% end %>
      <td class="editing"><%= link_to 'New Post', new_post_path %></td>
    </tbody>
  </table>

  <br>

  <%= link_to 'Новый пост', new_post_path %>

</div>
