<div class='main'>
<p id="notice"><%= notice %></p>
<div class='searchidea'>
<%= render 'search/form' %>
  <%= link_to image_tag("/images/addidea.svg"), new_post_path %>
</div>

<div class='deviceTag'>
<% @tags.each do |tag| %>
  <span>
    <a href="/posts/?tags=<%= tag %>"><%= tag %></a>
  </span>
<% end %>
<span>
  <%= link_to 'all', posts_path %>
</span>
</div>

<%= react_component 'A_NewsPostsList', { posts: @posts } %>


</div>