<div class="body1">
  <div class="nav1">
    <p> <%= link_to "Domestech", promo_path, class: "name1" %> </p>
    <p> <%= link_to "О нас", about_path, class: "link1" %> </p>
    <p> <%= link_to "Сценарии", posts_path, class: "link1" %> </p>
    <p> <%= link_to "Устройства", posts_path, class: "link1" %></p>
    <p><%= link_to "Статьи", posts_path, class: "link1" %></p>
  </div>
  <div class="mainAbout">
    <div class="what">
      <h2>Что?</h2>
      <p>Доместек – это электронный справочник, призванный сориентировать <br>
пользователя в рынке умных устройств и экосистем. Наша миссия – <br>
внести конкретику в представления пользователей об интернете вещей <br>
и предоставить им платформу для получения информации <br>
и развития собственных экосистем.
</p>
    </div>
    <div class="who">
      <h2>Для кого?</h2>
      <div class="row1">
        <div class="i11">
          <%= image_tag 'i1', class: 'i1'%>
        </div>
        <div class="one">
          <h3>Исследующие <br>
            пользователи
          </h3>
          <p>Люди с конкретными целями. <br>
            Заинтересованы во внедрении <br>
            конкретных устройств или сценариев. <br>
            Изучают отзывы, цены, особенности <br>
            и инструкции.
          </p>
        </div>
        <div class="i22">
          <%= image_tag 'i2', class: 'i2'%>
        </div>
        <div class="two">
          <h3>Креативные <br>
            энтузиасты
          </h3>
          <p>Искатели нестандартных решений и улучшений <br>
            для своего дома. Приходят к нам за сценариями <br>
            и статьями. <br>
          </p>
        </div>
      </div>
      <div class="i33">
        <%= image_tag 'i3', class: 'i3'%>
      </div>
      <div class="three">
        <h3>Пассивные <br>
          читатели
        </h3>
        <p>Просто интересуются нашей тематикой. <br>
          Читают статьи и новости. <br>
        </p>
      </div>
    </div>
    <div class="how">
    <h2>Как работает?</h2>
      <div class="how1">
        <div class="how11">
          <h3>Сценарии</h3>
          <p>ККаталог интересных кобинаций устройств <br>
и их функций позволит раскрыть потенциал <br>
умных экосистем для начинающих пользователей,
а продвинутым - найти интересные идеи 
для расширения имеющихся экосистем. <br>
          </p>
        </div>
        <%= image_tag 'd1', class: 'd1'%>
      </div>
        <div class="how2">
          <%= image_tag 'd2', class: 'd2'%>
          <div class="how22">
            <h3>Компоненты</h3>
            <p>Для всех устройств, участвующих в сценариях <br>
есть отдельные карточки с основными инструкциями <br>
и выжимкой полезной информации и обсуждением. <br>
Такой формат значительно упростит поиск <br>
компонентов и обмен потребительским опытом.</p>
          </div>
        </div>
    </div>
    <div class="do">
      <h2>Взаимодействие</h2>
      <%= image_tag 'd3', class: 'd3'%>

    </div>
    <div class="cusdev">
      <h2>Результаты cusdev</h2>
      <p>Lorem Ipsum начал как омлет, бессмысленные Латинской <br>
        происходит от 1-го века до н.э. текст Цицерона De Finibus Bonorum <br>
        et Malorum.
      </p>
      <p>Lorem Ipsum начал как омлет, бессмысленные Латинской <br>
        происходит от 1-го века до н.э. текст Цицерона De Finibus Bonorum <br>
        et Malorum.
      </p>
    </div>
  </div>
  <div class="form1">
    <h2>Узнать о запуске</h2>
    <%= render "subscribers/form" %>
  </div>
</div>
