<!DOCTYPE html>
<html>
  <head>
    <div class="top_menu">
      <div class="LogoNav">
        <a href="/"><img src="/images/logo.svg" alt=""></a>
      </div>
      <div class=aMain>
      <a href="/posts">Истории</a>
      <a href="/posts">Идеи</a>
      <a href="/devices">Устройства</a>
      </div>
      <%= render 'search/form' %>
    <div class="NavLinks">
      <% if user_signed_in? %>
        <%= link_to image_tag("/images/icon.svg"), current_user %> 
      <% else %>
        <%= link_to image_tag("/images/icon.svg"), new_user_registration_path %>
      <% end %>
    </div>
  </div>

    <title>BBLOPP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
  </head>
    <% if notice %>
  <p class="notice"><%= notice %></p>
    <% elsif alert %>
  <p class="alert"><%= alert %></p>
    <% end %>

  <body>
    <%= yield %>

  </body>
</html>

<% if notice %>
  <%= notice %>
<% end %>
